

.site-nav-link {color:#212121; text-decoration: none;}
.site-nav, .communication {font-weight: 500; font-size: 14px; line-height: 1.14; letter-spacing: 0.02em;list-style: none; }

.site-nav-link:hover, .site-nav-link:focus {color: var(--accent-color);}

.site-nav-link.current {color var(--accent-color);}